<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="side">
    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>联系我</h4>
        <img class="img-thumbnail side-pic" src="/image/me.webp">
    </div>

    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="http://www.taobao.com" target="_blank">
            <img class="img-thumbnail side-pic" src="/image/tb.jpg">
        </a>
    </div>
</div>
</body>
</html>